<a href="https://colab.research.google.com/github/wanasyraf4/DataScienceBasic/blob/main/Cudf_working_cuda11_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!nvcc -V

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2022 NVIDIA Corporation
Built on Wed_Sep_21_10:33:58_PDT_2022
Cuda compilation tools, release 11.8, V11.8.89
Build cuda_11.8.r11.8/compiler.31833905_0

In [ ]:
!nvidia-smi

Tue Mar  7 08:43:09 2023
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 525.85.12    Driver Version: 525.85.12    CUDA Version: 12.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   62C    P0    30W /  70W |      0MiB / 15360MiB |      6%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
!pip install cudf-cu11 dask-cudf-cu11 --extra-index-url=https://pypi.nvidia.com

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/, https://pypi.nvidia.com
Collecting cudf-cu11
  Downloading https://pypi.nvidia.com/cudf-cu11/cudf_cu11-23.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (491.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 491.0/491.0 MB 3.0 MB/s eta 0:00:00
Collecting dask-cudf-cu11
  Downloading https://pypi.nvidia.com/dask-cudf-cu11/dask_cudf_cu11-23.2.0-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.1/76.1 KB 11.0 MB/s eta 0:00:00
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (2023.1.0)
Collecting protobuf==4.21
  Downloading protobuf-4.21.0-cp37-abi3-manylinux2014_x86_64.whl (407 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 407.6/407.6 KB 9.1 MB/s eta 0:00:00
Collecting cubinlinker-cu11
  Downloading https://pypi.nvidia.com/cubinlinker-cu11/cubinlinker_cu11-0.3.0.post1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.8/8.8 MB 95.4 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (1.22.4)
Collecting cuda-python<12.0,>=11.7.1
  Downloading cuda_python-11.8.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.2/16.2 MB 64.8 MB/s eta 0:00:00
Requirement already satisfied: pandas<1.6.0dev0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (1.3.5)
Requirement already satisfied: cupy-cuda11x in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (11.0.0)
Requirement already satisfied: cachetools in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (5.3.0)
Collecting nvtx>=0.2.1
  Downloading nvtx-0.2.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (453 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 453.6/453.6 KB 47.4 MB/s eta 0:00:00
Collecting ptxcompiler-cu11
  Downloading https://pypi.nvidia.com/ptxcompiler-cu11/ptxcompiler_cu11-0.7.0.post1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.8/8.8 MB 103.1 MB/s eta 0:00:00
Requirement already satisfied: numba>=0.56.2 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (0.56.4)
Collecting pyarrow==10
  Downloading pyarrow-10.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.3/35.3 MB 16.6 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (4.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from cudf-cu11) (23.0)
Collecting rmm-cu11==23.2.*
  Downloading https://pypi.nvidia.com/rmm-cu11/rmm_cu11-23.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 91.0 MB/s eta 0:00:00
Collecting distributed==2023.1.1
  Downloading distributed-2023.1.1-py3-none-any.whl (934 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 934.1/934.1 KB 66.2 MB/s eta 0:00:00
Collecting dask==2023.1.1
  Downloading dask-2023.1.1-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 72.3 MB/s eta 0:00:00
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11) (1.3.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11) (2.2.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11) (6.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11) (0.12.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11) (8.1.3)
Requirement already satisfied: zict>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (2.2.0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (6.2)
Collecting psutil>=5.7.0
  Downloading psutil-5.9.4-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.2/280.2 KB 35.1 MB/s eta 0:00:00
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (1.7.0)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (1.0.4)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (2.4.0)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (1.0.0)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (1.26.14)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11) (3.1.2)
Requirement already satisfied: cython in /usr/local/lib/python3.8/dist-packages (from cuda-python<12.0,>=11.7.1->cudf-cu11) (0.29.33)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba>=0.56.2->cudf-cu11) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba>=0.56.2->cudf-cu11) (57.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba>=0.56.2->cudf-cu11) (6.0.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6.0dev0,>=1.0->cudf-cu11) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6.0dev0,>=1.0->cudf-cu11) (2.8.2)
Requirement already satisfied: fastrlock>=0.5 in /usr/local/lib/python3.8/dist-packages (from cupy-cuda11x->cudf-cu11) (0.8.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.10.3->distributed==2023.1.1->dask-cudf-cu11) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas<1.6.0dev0,>=1.0->cudf-cu11) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.8/dist-packages (from zict>=2.1.0->distributed==2023.1.1->dask-cudf-cu11) (1.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba>=0.56.2->cudf-cu11) (3.15.0)
WARNING: The candidate selected for download or install is a yanked version: 'protobuf' candidate (version 4.21.0 at https://files.pythonhosted.org/packages/9d/82/b3131637daf2a27eab76b0de8e139ecf0f6624832c03531dce8a7d59ddc1/protobuf-4.21.0-cp37-abi3-manylinux2014_x86_64.whl#sha256=9a65e012bc06022e98a57165ea48438b3b9f652eee33db7cbecb883588f9f169 (from https://pypi.org/simple/protobuf/))
Reason for being yanked: Required python version not configured correctly (https://github.com/protocolbuffers/protobuf/issues/10076)
Installing collected packages: ptxcompiler-cu11, protobuf, nvtx, cubinlinker-cu11, pyarrow, psutil, cuda-python, dask, rmm-cu11, distributed, cudf-cu11, dask-cudf-cu11
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.19.6
    Uninstalling protobuf-3.19.6:
      Successfully uninstalled protobuf-3.19.6
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 9.0.0
    Uninstalling pyarrow-9.0.0:
      Successfully uninstalled pyarrow-9.0.0
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: dask
    Found existing installation: dask 2022.2.1
    Uninstalling dask-2022.2.1:
      Successfully uninstalled dask-2022.2.1
  Attempting uninstall: distributed
    Found existing installation: distributed 2022.2.1
    Uninstalling distributed-2022.2.1:
      Successfully uninstalled distributed-2022.2.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.11.0 requires protobuf<3.20,>=3.9.2, but you have protobuf 4.21.0 which is incompatible.
tensorflow-metadata 1.12.0 requires protobuf<4,>=3.13, but you have protobuf 4.21.0 which is incompatible.
tensorboard 2.11.2 requires protobuf<4,>=3.9.2, but you have protobuf 4.21.0 which is incompatible.
pandas-gbq 0.17.9 requires pyarrow<10.0dev,>=3.0.0, but you have pyarrow 10.0.0 which is incompatible.
google-cloud-translate 3.8.4 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 4.21.0 which is incompatible.
google-cloud-language 2.6.1 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 4.21.0 which is incompatible.
google-cloud-firestore 2.7.3 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 4.21.0 which is incompatible.
google-cloud-datastore 2.11.1 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 4.21.0 which is incompatible.
google-cloud-bigquery 3.4.2 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 4.21.0 which is incompatible.
google-cloud-bigquery-storage 2.18.1 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 4.21.0 which is incompatible.
google-api-core 2.11.0 requires protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5, but you have protobuf 4.21.0 which is incompatible.
Successfully installed cubinlinker-cu11-0.3.0.post1 cuda-python-11.8.1 cudf-cu11-23.2.0 dask-2023.1.1 dask-cudf-cu11-23.2.0 distributed-2023.1.1 nvtx-0.2.5 protobuf-4.21.0 psutil-5.9.4 ptxcompiler-cu11-0.7.0.post1 pyarrow-10.0.0 rmm-cu11-23.2.0

In [ ]:
!pip install cuml-cu11 --extra-index-url=https://pypi.nvidia.com

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/, https://pypi.nvidia.com
Collecting cuml-cu11
  Downloading https://pypi.nvidia.com/cuml-cu11/cuml_cu11-23.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1586.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 GB 886.3 kB/s eta 0:00:00
Collecting raft-dask-cu11==23.2.*
  Downloading https://pypi.nvidia.com/raft-dask-cu11/raft_dask_cu11-23.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (215.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 215.1/215.1 MB 6.8 MB/s eta 0:00:00
Requirement already satisfied: numba in /usr/local/lib/python3.8/dist-packages (from cuml-cu11) (0.56.4)
Requirement already satisfied: dask-cudf-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from cuml-cu11) (23.2.0)
Collecting treelite-runtime==3.1.0
  Downloading treelite_runtime-3.1.0-py3-none-manylinux2014_x86_64.whl (191 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 191.9/191.9 KB 6.3 MB/s eta 0:00:00
Collecting pylibraft-cu11==23.2.*
  Downloading https://pypi.nvidia.com/pylibraft-cu11/pylibraft_cu11-23.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1015.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 GB 1.7 MB/s eta 0:00:00
Collecting treelite==3.1.0
  Downloading treelite-3.1.0-py3-none-manylinux2014_x86_64.whl (873 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 873.5/873.5 KB 30.0 MB/s eta 0:00:00
Requirement already satisfied: cudf-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from cuml-cu11) (23.2.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from cuml-cu11) (0.11.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from cuml-cu11) (1.10.1)
Requirement already satisfied: cubinlinker-cu11 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (0.3.0.post1)
Requirement already satisfied: cupy-cuda11x in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (11.0.0)
Requirement already satisfied: nvtx>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (0.2.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (23.0)
Requirement already satisfied: rmm-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (23.2.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (1.22.4)
Requirement already satisfied: cachetools in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (5.3.0)
Requirement already satisfied: ptxcompiler-cu11 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (0.7.0.post1)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (2023.1.0)
Requirement already satisfied: cuda-python<12.0,>=11.7.1 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (11.8.1)
Requirement already satisfied: pandas<1.6.0dev0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (1.3.5)
Requirement already satisfied: protobuf==4.21 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (4.21.0)
Requirement already satisfied: pyarrow==10 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (10.0.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cuml-cu11) (4.5.0)
Requirement already satisfied: distributed==2023.1.1 in /usr/local/lib/python3.8/dist-packages (from dask-cudf-cu11==23.2.*->cuml-cu11) (2023.1.1)
Requirement already satisfied: dask==2023.1.1 in /usr/local/lib/python3.8/dist-packages (from dask-cudf-cu11==23.2.*->cuml-cu11) (2023.1.1)
Collecting ucx-py-cu11==0.30.*
  Downloading https://pypi.nvidia.com/ucx-py-cu11/ucx_py_cu11-0.30.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 91.0 MB/s eta 0:00:00
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from raft-dask-cu11==23.2.*->cuml-cu11) (1.2.0)
Collecting dask-cuda==23.2.*
  Downloading dask_cuda-23.2.1-py3-none-any.whl (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.2/240.2 KB 29.3 MB/s eta 0:00:00
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (1.3.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (6.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (8.1.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (0.12.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (2.2.1)
Collecting pynvml<11.5,>=11.0.0
  Downloading pynvml-11.4.1-py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.0/47.0 KB 6.1 MB/s eta 0:00:00
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.8/dist-packages (from dask-cuda==23.2.*->raft-dask-cu11==23.2.*->cuml-cu11) (2.2.0)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (1.26.14)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (3.1.2)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (2.4.0)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (1.0.4)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (1.7.0)
Requirement already satisfied: psutil>=5.7.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (5.9.4)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (1.0.0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (6.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba->cuml-cu11) (0.39.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba->cuml-cu11) (6.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba->cuml-cu11) (57.4.0)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.8/dist-packages (from seaborn->cuml-cu11) (3.5.3)
Requirement already satisfied: cython in /usr/local/lib/python3.8/dist-packages (from cuda-python<12.0,>=11.7.1->cudf-cu11==23.2.*->cuml-cu11) (0.29.33)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn->cuml-cu11) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn->cuml-cu11) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn->cuml-cu11) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn->cuml-cu11) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn->cuml-cu11) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn->cuml-cu11) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6.0dev0,>=1.0->cudf-cu11==23.2.*->cuml-cu11) (2022.7.1)
Requirement already satisfied: fastrlock>=0.5 in /usr/local/lib/python3.8/dist-packages (from cupy-cuda11x->cudf-cu11==23.2.*->cuml-cu11) (0.8.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba->cuml-cu11) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.10.3->distributed==2023.1.1->dask-cudf-cu11==23.2.*->cuml-cu11) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn->cuml-cu11) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.8/dist-packages (from zict>=0.1.3->dask-cuda==23.2.*->raft-dask-cu11==23.2.*->cuml-cu11) (1.0.1)
Installing collected packages: pynvml, ucx-py-cu11, treelite-runtime, treelite, pylibraft-cu11, dask-cuda, raft-dask-cu11, cuml-cu11
Successfully installed cuml-cu11-23.2.0 dask-cuda-23.2.1 pylibraft-cu11-23.2.0 pynvml-11.4.1 raft-dask-cu11-23.2.0 treelite-3.1.0 treelite-runtime-3.1.0 ucx-py-cu11-0.30.0

In [ ]:
!pip install cugraph-cu11 --extra-index-url=https://pypi.nvidia.com

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/, https://pypi.nvidia.com
Collecting cugraph-cu11
  Downloading https://pypi.nvidia.com/cugraph-cu11/cugraph_cu11-23.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1246.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 GB 1.1 MB/s eta 0:00:00
Collecting pylibcugraph-cu11==23.2.*
  Downloading https://pypi.nvidia.com/pylibcugraph-cu11/pylibcugraph_cu11-23.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1242.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 GB 1.3 MB/s eta 0:00:00
Requirement already satisfied: dask-cudf-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from cugraph-cu11) (23.2.0)
Requirement already satisfied: rmm-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from cugraph-cu11) (23.2.0)
Requirement already satisfied: cudf-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from cugraph-cu11) (23.2.0)
Requirement already satisfied: numba in /usr/local/lib/python3.8/dist-packages (from cugraph-cu11) (0.56.4)
Requirement already satisfied: cupy-cuda11x in /usr/local/lib/python3.8/dist-packages (from cugraph-cu11) (11.0.0)
Requirement already satisfied: raft-dask-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from cugraph-cu11) (23.2.0)
Requirement already satisfied: dask-cuda in /usr/local/lib/python3.8/dist-packages (from cugraph-cu11) (23.2.1)
Requirement already satisfied: pandas<1.6.0dev0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (1.3.5)
Requirement already satisfied: cachetools in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (5.3.0)
Requirement already satisfied: protobuf==4.21 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (4.21.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (2023.1.0)
Requirement already satisfied: cuda-python<12.0,>=11.7.1 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (11.8.1)
Requirement already satisfied: nvtx>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (0.2.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (1.22.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (4.5.0)
Requirement already satisfied: ptxcompiler-cu11 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (0.7.0.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (23.0)
Requirement already satisfied: pyarrow==10 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (10.0.0)
Requirement already satisfied: cubinlinker-cu11 in /usr/local/lib/python3.8/dist-packages (from cudf-cu11==23.2.*->cugraph-cu11) (0.3.0.post1)
Requirement already satisfied: distributed==2023.1.1 in /usr/local/lib/python3.8/dist-packages (from dask-cudf-cu11==23.2.*->cugraph-cu11) (2023.1.1)
Requirement already satisfied: dask==2023.1.1 in /usr/local/lib/python3.8/dist-packages (from dask-cudf-cu11==23.2.*->cugraph-cu11) (2023.1.1)
Requirement already satisfied: pylibraft-cu11==23.2.* in /usr/local/lib/python3.8/dist-packages (from pylibcugraph-cu11==23.2.*->cugraph-cu11) (23.2.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from raft-dask-cu11==23.2.*->cugraph-cu11) (1.2.0)
Requirement already satisfied: ucx-py-cu11==0.30.* in /usr/local/lib/python3.8/dist-packages (from raft-dask-cu11==23.2.*->cugraph-cu11) (0.30.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.8/dist-packages (from dask-cuda->cugraph-cu11) (2.2.0)
Requirement already satisfied: pynvml<11.5,>=11.0.0 in /usr/local/lib/python3.8/dist-packages (from dask-cuda->cugraph-cu11) (11.4.1)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (0.12.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (2.2.1)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (1.3.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (6.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.8/dist-packages (from dask==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (8.1.3)
Requirement already satisfied: psutil>=5.7.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (5.9.4)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (1.26.14)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (1.0.4)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (1.0.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (2.4.0)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (3.1.2)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (1.7.0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (6.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba->cugraph-cu11) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba->cugraph-cu11) (0.39.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba->cugraph-cu11) (6.0.0)
Requirement already satisfied: fastrlock>=0.5 in /usr/local/lib/python3.8/dist-packages (from cupy-cuda11x->cugraph-cu11) (0.8.1)
Requirement already satisfied: cython in /usr/local/lib/python3.8/dist-packages (from cuda-python<12.0,>=11.7.1->cudf-cu11==23.2.*->cugraph-cu11) (0.29.33)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6.0dev0,>=1.0->cudf-cu11==23.2.*->cugraph-cu11) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<1.6.0dev0,>=1.0->cudf-cu11==23.2.*->cugraph-cu11) (2022.7.1)
Requirement already satisfied: heapdict in /usr/local/lib/python3.8/dist-packages (from zict>=0.1.3->dask-cuda->cugraph-cu11) (1.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba->cugraph-cu11) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.10.3->distributed==2023.1.1->dask-cudf-cu11==23.2.*->cugraph-cu11) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas<1.6.0dev0,>=1.0->cudf-cu11==23.2.*->cugraph-cu11) (1.15.0)
Installing collected packages: pylibcugraph-cu11, cugraph-cu11
Successfully installed cugraph-cu11-23.2.0 pylibcugraph-cu11-23.2.0

#**Importing and Getting Started**

In [ ]:
import pandas as pd
import cudf
import cupy as cp

cp.random.seed(0)

#**Creating Series and DataFrame objects**

**Creating a cudf.Series.**

In [ ]:
s = cudf.Series([1, 2, 3, None, 4])
s

0       1
1       2
2       3
3    <NA>
4       4
dtype: int64

**Creating a cudf.DataFrame by specifying values for each column.**

In [ ]:
df = cudf.DataFrame(
    {
        "a": list(range(20)),
        "b": list(reversed(range(20))),
        "c": list(range(20)),
    }
)
df

     a   b   c
0    0  19   0
1    1  18   1
2    2  17   2
3    3  16   3
4    4  15   4
5    5  14   5
6    6  13   6
7    7  12   7
8    8  11   8
9    9  10   9
10  10   9  10
11  11   8  11
12  12   7  12
13  13   6  13
14  14   5  14
15  15   4  15
16  16   3  16
17  17   2  17
18  18   1  18
19  19   0  19

**Creating a cudf.DataFrame from a pandas Dataframe.**

In [ ]:
pdf = pd.DataFrame({"a": [0, 1, 2, 3], "b": [0.1, 0.2, None, 0.3]})
gdf = cudf.DataFrame.from_pandas(pdf)
gdf

   a     b
0  0   0.1
1  1   0.2
2  2  <NA>
3  3   0.3

#**Viewing Data**
Viewing the top rows of a GPU dataframe.

In [ ]:
df.head(2)

   a   b  c
0  0  19  0
1  1  18  1

#**Selecting Data**
Selecting a single column, which yields a cudf.Series.

In [ ]:
df["a"]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: a, dtype: int64

#**Selection by Label**
Selecting rows from index 2 to index 5 from columns 'a' and 'b'.

In [ ]:
df.loc[2:5, ["a", "b"]]

   a   b
2  2  17
3  3  16
4  4  15
5  5  14

#**Selection by Position**
Selecting via integers and integer slices, like numpy/pandas.

In [ ]:
df.iloc[0]

a     0
b    19
c     0
Name: 0, dtype: int64

In [ ]:
df.iloc[0:3, 0:2]

   a   b
0  0  19
1  1  18
2  2  17

You can also select elements of a DataFrame or Series with direct index access.

In [ ]:
df[3:5]

   a   b  c
3  3  16  3
4  4  15  4

In [ ]:
s[3:5]

3    <NA>
4       4
dtype: int64

#**Boolean Indexing**
Selecting rows in a DataFrame or Series by direct Boolean indexing.

In [ ]:
df[df.b > 15]

   a   b  c
0  0  19  0
1  1  18  1
2  2  17  2
3  3  16  3

Selecting values from a DataFrame where a Boolean condition is met, via the query API.

In [ ]:
df.query("b == 3")

     a  b   c
16  16  3  16

With standard cuDF, you may either use the local_dict keyword or directly pass the variable via the @ keyword. Supported logical operators include >, <, >=, <=, ==, and !=.

In [ ]:
cudf_comparator = 3
df.query("b == @cudf_comparator")

     a  b   c
16  16  3  16

Using the `isin` method for filtering.

In [ ]:
df[df.a.isin([0, 5])]

   a   b  c
0  0  19  0
5  5  14  5

#**MultiIndex**
cuDF supports hierarchical indexing of DataFrames using MultiIndex. Grouping hierarchically (see Grouping below) automatically produces a DataFrame with a MultiIndex.

In [ ]:
arrays = [["a", "a", "b", "b"], [1, 2, 3, 4]]
tuples = list(zip(*arrays))
idx = cudf.MultiIndex.from_tuples(tuples)
idx

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 3),
            ('b', 4)],
           )

This index can back either axis of a DataFrame.

In [ ]:
gdf1 = cudf.DataFrame(
    {"first": cp.random.rand(4), "second": cp.random.rand(4)}
)
gdf1.index = idx
gdf1

        first    second
a 1  0.438451  0.053011
  2  0.460365  0.337699
b 3  0.250215  0.396763
  4  0.494744  0.874419

In [ ]:
gdf2 = cudf.DataFrame(
    {"first": cp.random.rand(4), "second": cp.random.rand(4)}
).T
gdf2.columns = idx
gdf2

               a                  b
               1        2         3         4
first   0.482167  0.04284  0.508414  0.654550
second  0.512604  0.26430  0.051981  0.578997

Accessing values of a DataFrame with a MultiIndex, both with .loc

In [ ]:
gdf1.loc[("b", 3)]

first     0.250215
second    0.396763
Name: ('b', 3), dtype: float64

In [ ]:
gdf1.iloc[0:2]

        first    second
a 1  0.438451  0.053011
  2  0.460365  0.337699

#**Missing Data**
Missing data can be replaced by using the fillna method.

In [ ]:
s.fillna(999)

0      1
1      2
2      3
3    999
4      4
dtype: int64

#**Operating on Data**
#Stats
Calculating descriptive statistics for a Series.

In [ ]:
s.mean(), s.var()

(2.5, 1.666666666666666)

#**Applymap**
Applying functions to a `Series`. Note that applying user defined functions directly with Dask-cuDF is not yet implemented. For now, you can use `map_partitions` to apply a function to each partition of the distributed dataframe.

`map_partitions` references:

https://docs.dask.org/en/stable/generated/dask.dataframe.DataFrame.map_partitions.html

In [ ]:
def add_ten(num):
    return num + 10

In [ ]:
df["a"].apply(add_ten)

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
15    25
16    26
17    27
18    28
19    29
Name: a, dtype: int64

#**Histogramming**
Counting the number of occurrences of each unique value of variable.

In [ ]:
df.a.value_counts()

15    1
6     1
1     1
14    1
2     1
5     1
11    1
7     1
17    1
13    1
8     1
16    1
0     1
10    1
4     1
9     1
19    1
18    1
3     1
12    1
Name: a, dtype: int32

#**String Methods**
Like pandas, cuDF provides string processing methods in the `str` attribute of `Series`. Full documentation of string methods is a work in progress. Please see the cuDF API documentation for more information.


**cuDF API**
https://docs.rapids.ai/api/cudf/stable/api_docs/series.html#string-handling

In [ ]:
s = cudf.Series(["A", "B", "C", "Aaba", "Baca", None, "CABA", "dog", "cat"])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5    <NA>
6    caba
7     dog
8     cat
dtype: object

As well as simple manipulation, We can also match strings using regular expressions.

Regular Expression References:

https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.core.column.string.stringmethods.match

In [ ]:
s.str.match("^[aAc].+")

0    False
1    False
2    False
3     True
4    False
5     <NA>
6    False
7    False
8     True
dtype: bool

#**Concat**
Concatenating Series and DataFrames row-wise.

In [ ]:
s = cudf.Series([1, 2, 3, None, 5])
cudf.concat([s, s])

0       1
1       2
2       3
3    <NA>
4       5
0       1
1       2
2       3
3    <NA>
4       5
dtype: int64

#**Join**

Performing SQL style merges. Note that the dataframe order is not maintained, but may be restored post-merge by sorting by the index.

In [ ]:
df_a = cudf.DataFrame()
df_a["key"] = ["a", "b", "c", "d", "e"]
df_a["vals_a"] = [float(i + 10) for i in range(5)]

df_b = cudf.DataFrame()
df_b["key"] = ["a", "c", "e"]
df_b["vals_b"] = [float(i + 100) for i in range(3)]

merged = df_a.merge(df_b, on=["key"], how="left")
merged

  key  vals_a vals_b
0   a    10.0  100.0
1   c    12.0  101.0
2   e    14.0  102.0
3   b    11.0   <NA>
4   d    13.0   <NA>

#**Grouping**

Like pandas, cuDF and Dask-cuDF support the Split-Apply-Combine groupby paradigm.

Split-Apply-Combine References:
https://www.jstatsoft.org/article/view/v040i01

In [ ]:
df["agg_col1"] = [1 if x % 2 == 0 else 0 for x in range(len(df))]
df["agg_col2"] = [1 if x % 3 == 0 else 0 for x in range(len(df))]

Grouping and then applying the `sum` function to the grouped data.

In [ ]:
df.groupby("agg_col1").sum()

            a    b    c  agg_col2
agg_col1
1          90  100   90         4
0         100   90  100         3


Grouping hierarchically then applying the sum function to grouped data.

In [ ]:
df.groupby(["agg_col1", "agg_col2"]).sum()

                    a   b   c
agg_col1 agg_col2
1        0         54  60  54
0        0         73  60  73
1        1         36  40  36
0        1         27  30  27

Grouping and applying statistical functions to specific columns, using agg.

In [ ]:
df.groupby("agg_col1").agg({"a": "max", "b": "mean", "c": "sum"})

           a     b    c
agg_col1
1         18  10.0   90
0         19   9.0  100

#**Sorting**
Sorting by values.

In [ ]:
df.sort_values(by="b")

     a   b   c  agg_col1  agg_col2
19  19   0  19         0         0
18  18   1  18         1         1
17  17   2  17         0         0
16  16   3  16         1         0
15  15   4  15         0         1
14  14   5  14         1         0
13  13   6  13         0         0
12  12   7  12         1         1
11  11   8  11         0         0
10  10   9  10         1         0
9    9  10   9         0         1
8    8  11   8         1         0
7    7  12   7         0         0
6    6  13   6         1         1
5    5  14   5         0         0
4    4  15   4         1         0
3    3  16   3         0         1
2    2  17   2         1         0
1    1  18   1         0         0
0    0  19   0         1         1

#**Transpose**
Transposing a dataframe, using either the `transpose` method or `T` property. Currently, all columns must have the same type. Transposing is not currently implemented in Dask-cuDF.

In [ ]:
sample = cudf.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
sample

   a  b
0  1  4
1  2  5
2  3  6

In [ ]:
sample.transpose()

   0  1  2
a  1  2  3
b  4  5  6

#**Time Series**
DataFrames supports datetime typed columns, which allow users to interact with and filter data based on specific timestamps.

In [ ]:
import datetime as dt

date_df = cudf.DataFrame()
date_df["date"] = pd.date_range("11/20/2018", periods=72, freq="D")
date_df["value"] = cp.random.sample(len(date_df))

search_date = dt.datetime.strptime("2018-11-23", "%Y-%m-%d")
date_df.query("date <= @search_date")

        date     value
0 2018-11-20  0.385556
1 2018-11-21  0.908215
2 2018-11-22  0.641620
3 2018-11-23  0.283399

#**Categoricals**
`DataFrames` support categorical columns.

In [ ]:
gdf = cudf.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "grade": ["a", "b", "b", "a", "a", "e"]}
)
gdf["grade"] = gdf["grade"].astype("category")
gdf

   id grade
0   1     a
1   2     b
2   3     b
3   4     a
4   5     a
5   6     e

Accessing the categories of a column. Note that this is currently not supported in Dask-cuDF.

In [ ]:
gdf.grade.cat.categories

StringIndex(['a' 'b' 'e'], dtype='object')

Accessing the underlying code values of each categorical observation.

In [ ]:
gdf.grade.cat.codes

0    0
1    1
2    1
3    0
4    0
5    2
dtype: uint8

#**Converting Data Representation**
#Pandas
Converting a cuDF DataFrame to a pandas DataFrame.

In [ ]:
df.head().to_pandas()

   a   b  c  agg_col1  agg_col2
0  0  19  0         1         1
1  1  18  1         0         0
2  2  17  2         1         0
3  3  16  3         0         1
4  4  15  4         1         0

#**Numpy**
Converting a cuDF or Dask-cuDF `DataFrame` to a numpy `ndarray`.

In [ ]:
df.to_numpy()

array([[ 0, 19,  0,  1,  1],
       [ 1, 18,  1,  0,  0],
       [ 2, 17,  2,  1,  0],
       [ 3, 16,  3,  0,  1],
       [ 4, 15,  4,  1,  0],
       [ 5, 14,  5,  0,  0],
       [ 6, 13,  6,  1,  1],
       [ 7, 12,  7,  0,  0],
       [ 8, 11,  8,  1,  0],
       [ 9, 10,  9,  0,  1],
       [10,  9, 10,  1,  0],
       [11,  8, 11,  0,  0],
       [12,  7, 12,  1,  1],
       [13,  6, 13,  0,  0],
       [14,  5, 14,  1,  0],
       [15,  4, 15,  0,  1],
       [16,  3, 16,  1,  0],
       [17,  2, 17,  0,  0],
       [18,  1, 18,  1,  1],
       [19,  0, 19,  0,  0]])

Converting a cuDF or Dask-cuDF `Series` to a numpy `ndarray`.

In [ ]:
df["a"].to_numpy()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

#**Arrow**
Converting a cuDF or Dask-cuDF `DataFrame` to a PyArrow `Table`.

In [ ]:
df.to_arrow()

pyarrow.Table
a: int64
b: int64
c: int64
agg_col1: int64
agg_col2: int64
----
a: [[0,1,2,3,4,...,15,16,17,18,19]]
b: [[19,18,17,16,15,...,4,3,2,1,0]]
c: [[0,1,2,3,4,...,15,16,17,18,19]]
agg_col1: [[1,0,1,0,1,...,0,1,0,1,0]]
agg_col2: [[1,0,0,1,0,...,1,0,0,1,0]]

#**Reading and Writing Data**

**CSV**

Writing to a CSV file.

In [ ]:
import os
if not os.path.exists("example_output"):
    os.mkdir("example_output")

df.to_csv("example_output/foo.csv", index=False)

Reading from a csv file.

In [ ]:
df = cudf.read_csv("example_output/foo.csv")
df

     a   b   c  agg_col1  agg_col2
0    0  19   0         1         1
1    1  18   1         0         0
2    2  17   2         1         0
3    3  16   3         0         1
4    4  15   4         1         0
5    5  14   5         0         0
6    6  13   6         1         1
7    7  12   7         0         0
8    8  11   8         1         0
9    9  10   9         0         1
10  10   9  10         1         0
11  11   8  11         0         0
12  12   7  12         1         1
13  13   6  13         0         0
14  14   5  14         1         0
15  15   4  15         0         1
16  16   3  16         1         0
17  17   2  17         0         0
18  18   1  18         1         1
19  19   0  19         0         0

Note that for the dask-cuDF case, we use `dask_cudf.read_csv` in preference to `dask_cudf.from_cudf(cudf.read_csv)` since the former can parallelize across multiple GPUs and handle larger CSV files that would fit in memory on a single GPU.

Reading all CSV files in a directory into a single dask_cudf.DataFrame, using the star wildcard.

#**Parquet**
Writing to parquet files with cuDF's GPU-accelerated parquet writer

In [ ]:
df.to_parquet("example_output/temp_parquet")

Reading parquet files with cuDF's GPU-accelerated parquet reader.

In [ ]:
df = cudf.read_parquet("example_output/temp_parquet")
df

     a   b   c  agg_col1  agg_col2
0    0  19   0         1         1
1    1  18   1         0         0
2    2  17   2         1         0
3    3  16   3         0         1
4    4  15   4         1         0
5    5  14   5         0         0
6    6  13   6         1         1
7    7  12   7         0         0
8    8  11   8         1         0
9    9  10   9         0         1
10  10   9  10         1         0
11  11   8  11         0         0
12  12   7  12         1         1
13  13   6  13         0         0
14  14   5  14         1         0
15  15   4  15         0         1
16  16   3  16         1         0
17  17   2  17         0         0
18  18   1  18         1         1
19  19   0  19         0         0

#**ORC**
Writing ORC files.

In [ ]:
df.to_orc("example_output/temp_orc")

And reading

In [ ]:
df2 = cudf.read_orc("example_output/temp_orc")
df2

     a   b   c  agg_col1  agg_col2
0    0  19   0         1         1
1    1  18   1         0         0
2    2  17   2         1         0
3    3  16   3         0         1
4    4  15   4         1         0
5    5  14   5         0         0
6    6  13   6         1         1
7    7  12   7         0         0
8    8  11   8         1         0
9    9  10   9         0         1
10  10   9  10         1         0
11  11   8  11         0         0
12  12   7  12         1         1
13  13   6  13         0         0
14  14   5  14         1         0
15  15   4  15         0         1
16  16   3  16         1         0
17  17   2  17         0         0
18  18   1  18         1         1
19  19   0  19         0         0

#**Performance with large dataframes**

cuDF is great for handling large dataframes. In this example we aggregate values after grouping by a key:

In [ ]:
nr = 100_000_000
df = cudf.DataFrame({
    'key': cp.random.randint(0, 10, nr),
    'value': cp.random.random(nr)
})

%time df.groupby('key')['value'].mean()

pdf = df.to_pandas()
%time pdf.groupby('key')['value'].mean()

CPU times: user 90.9 ms, sys: 10.2 ms, total: 101 ms
Wall time: 100 ms
CPU times: user 1.23 s, sys: 1.3 s, total: 2.53 s
Wall time: 2.5 s

key
0    0.500149
1    0.499845
2    0.499982
3    0.499855
4    0.499957
5    0.499990
6    0.500085
7    0.499953
8    0.500066
9    0.500020
Name: value, dtype: float64

cuDF also has efficient join algorithms. In this example we use a hash join to combine values from two dataframes based on a key:

In [ ]:
nr = 50_000_000
df = cudf.DataFrame({        
        'key': cp.random.randint(0, 10, nr),
        'value': cp.random.random(nr)
})
lookup = cudf.DataFrame({        
        'key': range(10),
        'lookup': cp.random.random(10)
})

%time df.merge(lookup, on='key')

pdf = df.to_pandas()
plookup = lookup.to_pandas()
%time pdf.merge(plookup, on='key')

CPU times: user 108 ms, sys: 16.7 ms, total: 124 ms
Wall time: 127 ms
CPU times: user 3.12 s, sys: 2.92 s, total: 6.04 s
Wall time: 5.93 s

          key     value    lookup
0           6  0.576150  0.086387
1           6  0.423739  0.086387
2           6  0.884748  0.086387
3           6  0.788128  0.086387
4           6  0.800403  0.086387
...       ...       ...       ...
49999995    9  0.382200  0.262745
49999996    9  0.293663  0.262745
49999997    9  0.425066  0.262745
49999998    9  0.432143  0.262745
49999999    9  0.062610  0.262745

[50000000 rows x 3 columns]

Computing and applying filters to cuDF dataframes are also efficient operations.

In [ ]:
nr = 20_000_000
df = cudf.DataFrame({    
    'rating_a': cp.random.randint(1, 5, nr),
    'rating_b': cp.random.randint(1, 5, nr),
    'rating_c': cp.random.randint(1, 5, nr),
})

%time df.where(df>3)

pdf = df.to_pandas()
%time pdf.where(pdf>3)

CPU times: user 10.2 ms, sys: 6.1 ms, total: 16.3 ms
Wall time: 18.5 ms
CPU times: user 2.92 s, sys: 1.73 s, total: 4.65 s
Wall time: 5.16 s

          rating_a  rating_b  rating_c
0              4.0       4.0       NaN
1              NaN       NaN       NaN
2              NaN       NaN       NaN
3              NaN       NaN       4.0
4              NaN       NaN       NaN
...            ...       ...       ...
19999995       NaN       NaN       4.0
19999996       NaN       NaN       NaN
19999997       NaN       4.0       4.0
19999998       NaN       4.0       4.0
19999999       NaN       NaN       NaN

[20000000 rows x 3 columns]

And sorting is another task where cuDF shows great acceleration.

In [ ]:
nr = 10_000_000
df = cudf.DataFrame({    
    'a': cp.random.rand(nr),
    'b': cp.random.rand(nr),
    'c': cp.random.rand(nr),
})

%time df.sort_values('a')

pdf = df.to_pandas()
%time pdf.sort_values('a')

CPU times: user 154 ms, sys: 6.75 ms, total: 160 ms
Wall time: 164 ms
CPU times: user 3.38 s, sys: 206 ms, total: 3.58 s
Wall time: 3.58 s

                    a         b         c
7327996  5.919987e-08  0.103876  0.362604
2624195  4.288834e-07  0.952080  0.597901
7367962  6.171877e-07  0.592560  0.187291
5549822  7.305300e-07  0.384424  0.512523
4596785  7.623830e-07  0.084830  0.753644
...               ...       ...       ...
1258033  9.999995e-01  0.267930  0.605742
7004706  9.999996e-01  0.300102  0.418403
1955702  9.999998e-01  0.428556  0.238820
7634263  9.999999e-01  0.025396  0.385628
6875674  1.000000e+00  0.257373  0.649026

[10000000 rows x 3 columns]